html
  head
    scss:
      body{
        background: white;
      }
      $base-color: #8ed7f1;
      polygon.base{
        fill: $base-color;
      }
      
      polygon.triangle{
        fill: $base-color;
      }
      polygon.triangle.dark{
        fill: darken($base-color, 20% );
      }
      
      polygon.triangle.light{
        fill: lighten($base-color, 20% );
      }
  body
    h1 slim
    - @halites.each do |halite|
      svg width=200 height=200
        g transform="translate(100,100)"
          - halite.polygons.each do |p|
            polygon class="#{p.css_class}" 
              animate(
                values="#{p.svg_points}" 
                repeatCount="indefinite" 
                dur="20s" 
                attributeType="XML" 
                attributeName="points")
              animate(
                attributeType="css" 
                attributeName="fill" 
                values="#{p.svg_colors}" 
                dur="3s" 
                repeatCount="indefinite") 
            